
<% let categories=data %> 

<div class="container d-flex  adminAdd">

    
    
    <table>
        <tr>
            <th>Categories</th>
            
        </tr>
        
        <% for(let i=0;i<categories.length;i++){ %> 
            <% if(i%4===0 ){ %> 
                <tr>
            <% } %> 
            <td><%=categories[i].ctgName  %> </td>
            <% if(i%4===3){ %> 
            </tr>
            <% } %> 
        <% } %>
        
    </table>

    <form class="my-5" action="/manage" method="post">
        <div class="form-group">
            <label for="category" >New Category name</label>
            <input type="text" class="form-control w-50 mb-2" id="category" placeholder="Enter name" name="ctgName">
            <button type="submit" class="btn btn-dark px-4" style="border:1px solid rgb(71,225,12);">Add</button>
          </div>
    </form>

</div>