
<% for(let i=0;i<categories.length;i++){%>
    <% if(i%4===0){ %> 
        <div class="row category">
            <% if(i===0){ %> 
                <h2>Browse by category</h2>
            <%}%> 
            <div class="col-3"  >
                <button type="button" class="btn category-btn" style=<%= (categories[i].selected)?"background-color:aqua;":"background-color:rgb(71,225,12);" %>>
                 <%=categories[i].ctgName%>
                </button>
            </div>
        </div>
    <%}else{%> 
        <div class="col-3">
            <button type="button" class="btn category-btn">
               <%=categories[i].ctgName%> 
            </button>
        </div>
    <%} %> 
<% } %>  
