</main>

<footer class="d-flex">
  <!-- import footer -->
  <div class="container-fluid" id="footer">
    <div class="row-4">
      <h4>Get to know us</h4>
      <ul>
        <li><a href="/about" data-link>About us</a></li>
        <li><a href="/ourmission" data-link>Our mission</a></li>
        <li><a href="/ourvision" data-link>Our vision</a></li>
      </ul>
    </div>
    <div class="row-4">
      <h4>Social Media</h4>
      <div class="social">
        <a href="/" data-link><i class="fab fa-facebook-f"></i></a>
        <a href="/" data-link><i class="fab fa-instagram"></i></a>
        <a href="/" data-link><i class="fab fa-twitter"></i></a>
      </div>
    </div>
    <div class="row-4 copyrights">
      <h6>&copy; Traddiction 2022</h6>
      <h6>All rights reserved.</h6>
    </div>
  </div>
</footer>


<script type="module" src="/static/app.js"></script>
<script type="module" src="/static/navApp.js"></script>
<script type="module" src="/static/events.js"></script>
<!-- axios support -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>
</html>