<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>TRADdiction</title> -->
    <title><%=title%> </title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/jpg" href="https://us.123rf.com/450wm/allexxandar/allexxandar1711/allexxandar171100816/89943181-s%C3%ADmbolo-de-la-letra-t-del-alfabeto-carta-del-espacio-carta-del-cielo-nocturno-.jpg?ver=6"/>
    <link rel="stylesheet" href="/static/navStyles.css" />
    <link rel="stylesheet" href="/static/footerStyles.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- google font -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    
    <!-- bootstrap below -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- these 2 are bootstrap scripts -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- navbar -->
    <header>
      <div class="container-fluid" id="nav">
        <div class="row">
          <nav>
            <div class="toggler">
              <div class="line1"></div>
              <div class="line2"></div>
              <div class="line3"></div>
            </div>
            <a href="/" class="title" data-link
              ><span id="title1">TRADdiction</span></a
            >

            <div class="nav-collapse1">
              <form action="/search" class="nav-form">
                <input
                  type="search"
                  placeholder="Search items"
                  id="nav-input"
                  name="queryText"
                />
                <button type="submit" class="nav-btn"></button>
              </form>
            </div>
            <div class="nav-collapse2">
              <button class="btn btn-secondary" type="button" id="dropdown-btn">
                <% if(logged){%>
                  My Account
                <%}else{ %> 
                  Log-in/Sign-up
                <% } %> 
                <i class="arrow-down"></i>
              </button>
              <ul class="dropdown-menu">
                <% if(!logged){ %> 
                <li>
                  <a class="dropdown-item" href="/signup" data-link>Sign-Up</a>
                </li>
                <br />
                <li>
                  <a class="dropdown-item isDisabled" href=""
                    >Already have an account?</a
                  >
                </li>
                <br>
                <li>
                  <a class="dropdown-item" href="/login" data-link>Log-In</a>
                </li>
                <% }else{ %> 
                  <li style="color:aqua">Hey there, <%=username%> </li>
                  <br/>
                  <li>
                    <a class="dropdown-item" href="/items" data-link>My items</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/trades" data-link>Trades</a>
                  </li>
                  <li>
                    <a class="dropdown-item signout" href="/" data-link>
                    <form action="/logout?_method=DELETE" method="POST">
                      <button type="submit">Sign Out</button>
                    </form>
                  </a>
                  </li>
                <% } %> 
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main>