body{
    background-color: rgb(225, 228, 225) !important;
}

#carousel{
    max-width: 90%;
    position: relative;
    top: 0;
    left: 6%;
    
   
}
.carousel{
    filter: drop-shadow(0px 0px 15px black);

}

.carousel .carousel-item{
    height: 70vh;
    
}

.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 70vh;
    
    
}