body{
    background-color: rgb(32,33,36) !important;
}
main{
    margin-bottom: 15%;
    
}

#newAdditions{
    margin-top: 10px;
}

main .row{
    max-width: 90%;
    position: relative;
    top: 0;
    left: 6%;
    

}


#carousel{
    max-width: 90%;
    position: relative;
    top: 0;
    left: 6%;
    color: #8e8e8e;
}

.carousel{
    filter: drop-shadow(0px 0px 15px black);

}

.carousel .carousel-item{
    height: 70vh;
    
}

.carousel-item img{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 70vh;
    
    
}


h2{
    margin-bottom: 1em !important;
    margin-top: 3rem !important;
}



.category .category-btn{
    border:none;
    font-size:25px;
    text-align: center;
    display: inline-block;
    margin:5px;
    padding: 20px 80px;
    word-wrap: normal;
    cursor: default !important;
    /* background-color: rgb(71,225,12); */
    opacity: 0.8;
    width: 20vw;
    

}

.category .category-btn:hover{
    transform: scale(1.1);
    opacity: 1;

    
}


.category .label{
    background-color: rgb(71,225,12);
    width: 20vw;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 1.5em;
    padding: 0 4em;

}





#queryItems{
    width: 80%;
    height: 5vh;

}
#addDisplay{
    color:white;

}
#addDisplay .img{
    width:80vw;
    height:30vh;
    background-repeat: no-repeat;
    background-size:contain;
}
.newAdd{
        height: 5vh;
        width: 10vw;
        cursor: default;
        background-color: rgb(71,225,12);
        color: black;
        font-weight: 600;
}
#query-btn{
    height: 5vh;
    width: 10vw;
    cursor: default;
    background-color: rgb(71,225,12);
    color: black;
    font-weight: 600;
}

#query-btn:hover{
    color: white;
}

.results{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 1s ease-out;
}

 .active{
    opacity: 1;
    height: auto;
    overflow: visible;
}

.results .col-3{
    margin-top: 3rem;
    max-width: 100%;
    max-height: 50vh;
    border: 1px solid black;
    background-color: rgb(71,225,12);

    padding: 0;
    
    box-shadow: 0 0 5px 5px rgb(71,225,12),
                0 0 10px 10px black
                 ;

}

#display_image{
    height: 300px;
    width: 100%;

}

.results .col-3 button{
    background-color: rgb(32,33,36);
    border:none;

    
    visibility: hidden;
    
    margin-left: 40%;
}
.results .col-3 button a{
    color:rgb(71,225,12);
    text-decoration: none;
    

}

.results .col-3:hover{
    transform: scale(1.05);
    transition: transform 250ms ease;
}
.results .col-3:hover button{
    visibility: visible;
    
}


.results p{
    cursor: default;
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}

.results #looksFor{
    margin-bottom: 0;
    border-top: 1px dashed black;
}

#items h1{
    text-align: center;
    font-size: 3em;
}

#items li{
    background-color: rgb(28, 68, 12);
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#items li p{
    color:beige;
    font-size: 1.5em;
}



#items li button:hover{
    background-color: rgb(129, 95, 160);
}

#items > .row{
    margin: 2% 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#items > .row button{
    margin-left: 200%;
}

#items .newAdd:hover{
    background-color:  rgb(129, 95, 160);
}

.results h6{
    font-size: larger;
    margin-bottom: 0;
    text-align: center;
    padding: 5px 0;

}




.results img{
    max-width: 100%;
    border-bottom: 1px dashed black;
    
}





/* #login{
    background-color: white;
    font-weight: 500;
    border-radius: 5%;
    max-width: 30%;
    transform: translateY(20%);
    padding: 5px;
    
}*/



#login button{
    display: block;
    
    margin-top: 3%;
    padding: 2% 7%;
    
} 


#signup{
    margin-top: 2em;
}

.invalid input,.invalid select{
    border: 2px solid red !important;
    animation: 2s shake ease alternate;
    
}

@keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  } 


  #about,#mission,#vision{
      color: white;

  }
  
 
  #mission img,#vision img{
      max-width: 100%;
  }

  #listings{
      color: white;
  }

  #rightbox .tradeReqLi .tradeBtn,.approve .tradeBtn{
    background-color: rgb(71,225,12);
    border: none;
    color: rgb(32,33,36);
    font-weight: 400;
    padding: 10% 70%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:7%;
    border: 1px solid rgb(32,33,36);
    transition-duration: 0.4s;
    
}
#rightbox .tradeReqLi form{
    display: inline-block;
    margin-left:20% ;
}


#rightbox .tradeReqLi .tradeBtn:hover ,.approve .tradeBtn:hover{
  background-color: rgb(14, 35, 104);
  color:white; 
}
#leftbox {
    
    float:left; 
    background:inherit;
    
    width:50%;
    height:100%;
}
#rightbox{
    float:left; 
     
    background:inherit;
    width:50%;
    height:100%;
}
.tradeReqLi {
    line-height: 2em;
    font-size: larger;
    margin-bottom: 10%;
}

.tradeHistoryLi{
    line-height: 2em;
    font-size: larger;
}
.tempLi{
    line-height: 2em;
    font-size: larger;
}

.trades{
    color: white;
    display: flex;
    flex-direction: column;
    
}

.trades h1{
    text-align: center;
}

.wanted{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
}
.wanted #display_image{
    max-width: 30%;
    max-height: 20vh;
}


.provided{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.provided #display_image{
    max-width: 30%;
    max-height: 20vh;
}

.admin{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

 .admin-title{
    height: 10vh;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    
    
}

.admin-title h1{
    /* margin-left: 40vw; */
    color:rgb(71,225,12);
    transform: translateX(200%);
    font-size: 2.5em;
}

.option{
    width: 23vw;
    height: 8vh;
    background-color: inherit;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

.option button{
    color: wheat;
    background-color: inherit;
    border: 0;
    width: 23vw;
    height: 6vh;
    cursor: default !important;
    font-weight: 500;
    font-size: 1.2em;
}

.option button:hover{
    background-color: rgb(71,225,12);
    color: black;
    
}




.content{
    background-color: inherit;
    width: 72vw;
    height:fit-content;
    position: relative;
    top: -45vh;
    left: 25vw;
    color:white;
    
}

.admin .adminAdd{
    display: flex;
    flex-direction: column;
    
}

.admin .adminAdd table{
    table-layout: fixed;
    font-size: 1.5em;
    width: 100%;

}

 tr:not(tr:nth-of-type(1)),td,th:not(th:nth-of-type(1)){
    border-color: rgb(130, 115, 212) !important ;
    border-width: 1px !important;
    border-collapse: collapse;
    text-align: center;
  }
  

 table tr:first-child{
    /* width: 1%; */
    font-size: 1.5em;
    color: rgb(71,225,12);

}


.admin .adminAdd form label{
    font-size: 1.5em;
    color: rgb(71,225,12);

}

.approve{
    border: 1px solid rgb(71,225,12);
    max-height: 50vh;
    overflow: scroll;
}

.approve form:nth-of-type(1){
    position: relative;
    top: 6em;
    left: 15%;
}
.approve form:nth-of-type(2){
    position: relative;
    top:  11em;
    /* bottom: 170%; */
    right: 8%;
    
}

.approve .tradeBtn{
    width: 8em;
    height: 3em;
    padding: 0;
    text-align: center;
    border-radius: 0%;

}


.activeCat{
    display: none;
}

.activeText{
    display: none;
}



