<!-- view που οριζει μια φορμα επικοινωνιας οπου καποιος χρηστης μπορει να στειλει ενα μηνυμα
το οποιο μετα θα δρομολογηθει σε καποιον admin της σελιδας -->

<% if(logged){ %> 
    <%- include('partials/navbar.ejs',{title:"About Us",logged,username:user.firstName}) %> 
  <% }else{ %> 
      <%- include('partials/navbar.ejs',{title:"About Us",logged}) %> 
  <% } %> 

  <div class="container mb-4" style="color: white;" id="contact">
    <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: rgb(71,225,12);">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>
        <!-- εχουμε ενα form που παιρνει ολα τα στοιχεια του χρηστη και το μηνυμα του και
        τα υποβαλλει στον σερβερ για αποθηκευση στην βαση και προβολη στην σελιδα του admin -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="/contact" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="3" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                

            </form>

            <div class="text-center text-md-left submit-div">
                <a class="btn px-5 py-2"  style="background-color: #705df2; color:white;">Send</a>
            </div>
            <div class="status"></div>
        </div>
    


    </div>
    <!-- προβολη μηνυματος επιτυχιας αποστολης -->
    <% if(messages.success){ %> 
        <div class="alert alert-success mt-2" role="alert"><%=messages.success  %><a href="/">Back to home page</a></div>
    <% } %>
    <div class="alert alert-danger mt-2 d-none" role="alert"></div>


</div>







<%- include("partials/footer.ejs") %> 
