
    <div class="row-4">
        <h4>Get to know us</h4>
        <ul>
            <li><a href="/">About us</a></li>
            <li><a href="/">Our mission</a></li>
            <li><a href="/">Our vision</a></li>
            

        </ul>
    </div>
    <div class="row-4">
        <h4>Social Media</h4>
        <div class="social">
            <a href="/"><i class="fab fa-facebook-f"></i></a>
            <a href="/"><i class="fab fa-instagram" ></i></a>
            <a href="/"><i class="fab fa-twitter" ></i></a>
        </div>
    </div>
    <div class="row-4 copyrights">
        <h6>&copy; Traddiction 2022</h6>
        <h6>All rights reserved.</h6>
        
    </div>
    
