

    <div class="container-fluid" id="nav">
        <div class="row">
            <nav>
                <div class="toggler">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
                <a href="#" class="title"><span id="title">TRADdiction</span></a>

                
                    <div class="nav-collapse1">
                        <form class="nav-form">
                            <input type="search" placeholder="Search items" id="nav-input">
                            <button type="submit" class="nav-btn"></button>
                        </form>

                    </div>
                    <div class="nav-collapse2">
                        <button class="btn btn-secondary" type="button" id="dropdown-btn">
                            Log-in/Sign-up
                            <i class="arrow-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/">SignUp</a></li>
                            <br>
                            <li><a class="dropdown-item isDisabled" href="" >Already have an account?</a></li>
                            <li><a class="dropdown-item" href="/">LogIn</a></li>
                        </ul>
                    </div>
                


            </nav>
        </div>

    </div>
    <script src="navApp.js"></script>
    





    
