<!-- view που εμφανιζεται οταν ο χρηστης θελει να προσθεσει μια νεα αγγελια μεσω της "My items=>New Listing" -->

<%- include('partials/navbar.ejs',{title:"New Listing",logged,username:user.firstName}) %>

<div class="container" id="listings">
  <div class="row">
    <div class="col-md-6">
    <h2 style="color: rgb(71,225,12);">New item details</h2>
  </div>
  </div>
  <!-- form που παιρνει ολα τα στοιχεια της νεας αγγελιας, καθως και την εικονα που ο χρηστης εισαγει απο τα αρχεια του -->
    <form action="/items" method="post" id="newListingForm">
    <div class="row">
        <div class="form-group col-md-6">
          <label class="d-block" for="src">Upload Image</label>
          <input type="file"
         id="src" name="src"
         accept="image/png, image/jpeg" name="src">
        </div>
      </div>
      <div class="row">
      <div class="form-group col-md-6">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Listing Title" name="title">
        </div>
        </div>
        <div class=row>
        <div class="form-group col-md-6">
      <label for="text">Provide a description for your item</label>
      <textarea  class="form-control" id="text" placeholder="Shoes" name="text" rows="3"></textarea>
      </div>
      </div>
        <div class="row">
        <div class="form-group col-md-6">
          <label for="category">Place your item in a category</label>
          <select class="form-control" name="category" id="category">
            <option value="Select" selected>Select</option>
            <% for(let category of categories){ %> 
              <option value="<%= category.ctgName%>"><%=category.ctgName  %> </option>
            <% } %> 
          </select>
          </div>
        </div>
    
      <div class="row">
        <div class="form-group col-md-6">
          <label for="looksFor">What are you looking for?</label>
          <input type="text" class="form-control" id="looksFor" placeholder="Shoes, Watch etc." name="looksFor">
        </div> 
      </div>
      <div class="row">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="free" name="free">
          <label class="form-check-label" for="free">
            Are you offering your item for free?
          </label>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Upload Listing</button>
    </div>
      </div>
      <div class="alert alert-warning alert-dismissible fade show w-50 mt-3 d-none" role="alert">
        <span></span>
      </div>
    
</form>
</div>


<%- include("partials/footer.ejs") %>
